<!--
<mat-toolbar color="primary" class="footer">
    <mat-toolbar-row style="position: absolute; display: box; height: 300px; width: 300px; background-color: green;">
        <div style="position: absolute; display: box; height: 300px; width: 300px; background-color: green;"></div>
        
    </mat-toolbar-row>
</mat-toolbar>
-->

<div class="myContainer">
    <div class="box1">
        <a class="link" href="">Go to Home</a>
        <a class="link" href="">Search</a>
        <a class="link" href="">Register</a>
    </div>
    <div class="box2">
        <a class="link" href="">Login</a>
        <a class="link" href="">How to learn</a>
        <a class="link" href="">Social</a>
    </div>
    <div class="box3">
        <a class="link" href="">Exams</a>
        <a class="link" href="">Feadback</a>
        <a class="link" href="">About us</a>
    </div>
</div>
