
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/nav.css">
</head>
<body>
	<% include nav.ejs %>
	<h1>Thi is the homepage.!</h1>
	<h2>Welcome <%= person.name %></h2>
	<a href="/logout">logout</a>
</body>
</html>