

<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/assets/nav.css">
    <script src="/assets/jquery-3.4.1.min.js"></script>
    <script src="/assets/build/react.js"></script>
    <script src="/assets/build/react-dom.js"></script>
    <script src="/assets/jquery-3.4.1.js"></script>
    <script src="/assets/babel.min.js"></script>
    <script>
        
    </script>
</head>
<body>
    <% include nav.ejs %>
        <div id="app" ></div>
        
    <script type="text/babel" src="/assets/myReact.js"></script>
</body>
</html> 