
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/nav.css">
</head>
<body>
    <% include nav.ejs %>
    <div>Thank you. <%= data.who %></div>
</body>
</html> 