<p>register works!</p>
<!--
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Create Employee</div>
    <div class="panel-body">
      <form [formGroup]="employeeForm"  (ngSubmit)="onSubmit()" >
        <!--Name container-->
<!--        <div class="form-group" [ngClass]="{'has-error': employeeForm.get('name').errors && (employeeForm.get('name').touched || employeeForm.get('name').dirty)}" >
          <label class="control-label">Name</label>
          <input (keyup)="myEvent($event)" required formControlName="name" type="email" class="form-control"placeholder="Enter name">
          <small required *ngIf="employeeForm.get('name').errors?.required && (employeeForm.get('name').touched)" class="control-label">Name is required</small>
          <small *ngIf="employeeForm.get('name').errors?.minlength" class="control-label">name must be of 5 characters</small>
          <small *ngIf="employeeForm.get('name').errors?.maxlength" class="control-label">name shouldn't exceed 10 characters</small>
        </div>

        <!--Password container-->
  <!--      <div class="form-group" [ngClass]="{'has-error': employeeForm.get('password').errors && (employeeForm.get('password').touched || employeeForm.get('password').dirty)}" >
            <label class="control-label">Password</label>
            <input (keyup)="myEvent($event)" required formControlName="password" type="email" class="form-control"placeholder="Enter password">
            <small required *ngIf="employeeForm.get('password').errors?.required && (employeeForm.get('password').touched)" class="control-label">password is required</small>
            <small *ngIf="employeeForm.get('password').errors?.minlength" class="control-label">password must be of 5 characters</small>
            <small *ngIf="employeeForm.get('password').errors?.maxlength" class="control-label">password shouldn't exceed 10 characters</small>
          </div>

      <!--radio buttton container-->
 <!--     <div class="form-control">
        <label class="radio-inline">
          <input (click)="contactPrefChange('email')" type="radio" name="contactPref" formControlName="contactPref" value="email">Email
        </label>
        <label class="radio-inline">
          <input (click)="contactPrefChange('phone')" type="radio" name="contactPref" formControlName="contactPref" value="phone" >Phone
        </label>
      </div>
      <br>

<!--email container-->
<!--<div class="form-group" [ngClass]="{'has-error': employeeForm.get('email').errors}" >
  <label class="control-label">Email</label>
  <input (keyup)="myEvent($event)" formControlName="email" type="email" class="form-control"placeholder="Enter Phone">
  <small required *ngIf="employeeForm.get('email').errors?.required" class="control-label">Email is required</small>
  <small *ngIf="employeeForm.get('email').errors?.email" class="control-label">Email must be a valid Email</small>
</div>

<!--phone container-->
<!--<div class="form-group" [ngClass]="{'has-error': employeeForm.get('phone').errors}" >
  <label class="control-label">Phone</label>
  <input (keyup)="myEvent($event)" formControlName="phone" type="email" class="form-control"placeholder="Enter Phone">
  <small required *ngIf="employeeForm.get('phone').errors?.required" class="control-label">Phone number is required</small>
  <small *ngIf="employeeForm.get('phone').errors?.minlength && !(employeeForm.get('phone').errors?.pattern)" class="control-label">phone number must be less that 11 digits</small>
  <small *ngIf="employeeForm.get('phone').errors?.maxlength && !(employeeForm.get('phone').errors?.pattern)" class="control-label">name shouldn't exceed 14 digits</small>
  <small *ngIf="employeeForm.get('phone').errors?.pattern" class="control-label">invalid phone number</small>
</div>






        <!--Submit Button-->
 <!--       <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">Submit</button>

        <button type="button" (click)="onLoadAPi()" class="btn btn-primary marg">Load API</button>
        </form>
    </div>
  </div>
</div>

{{ employeeForm.value | json }}

<br>
<br>
<div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">employeeForm.name</div>
        <div class="panel-body">
          <label>touched: {{ employeeForm.get('name').touched }}</label><br>
          <label>pristine: {{ employeeForm.get('name').pristine }}</label><br>
          <label>dirty: {{ employeeForm.get('name').dirty }}</label><br>
          <label>required: {{ employeeForm.get('name').errors?.required }}</label>
        </div>
    </div>
</div>

-->

<div class="container">
  <!--Name Field-->
  <div>
    <mat-form-field>
      <input matInput autofocus maxlength="10" placeholder="Enter your Name" [formControl]="userForm.get('name')" required>
      <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('n') }}</mat-error>
    </mat-form-field>
  </div>

  <!--Father Name Field-->
  <div>
    <mat-form-field>
      <input matInput maxlength="10" placeholder="Enter your Father Name" [formControl]="userForm.get('fatherName')" required>
      <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('f') }}</mat-error>
    </mat-form-field>
  </div>

  <!--Email Field-->
  <div>
      <mat-form-field>
        <input matInput maxlength="10" placeholder="Enter your Email" [formControl]="userForm.get('email')" required>
        <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('e') }}</mat-error>
      </mat-form-field>
    </div>

  <!--Phone Field-->
  <div>
      <mat-form-field>
        <input matInput maxlength="10" placeholder="Enter your Phone" [formControl]="userForm.get('phone')" required>
        <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('p') }}</mat-error>
      </mat-form-field>
    </div>

  <!--Password Field-->
  <div>
      <mat-form-field>
        <input matInput maxlength="10" placeholder="Enter your Password" [formControl]="userForm.get('password')" required>
        <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('p') }}</mat-error>
      </mat-form-field>
  </div>

  <!--conform Password Field-->
  <div>
      <mat-form-field>
        <input matInput maxlength="10" placeholder="Enter your password" [formControl]="userForm.get('password')" required>
        <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('p') }}</mat-error>
      </mat-form-field>
  </div>

  <!--Age Field-->
  <div>
    <mat-form-field>
      <mat-select placeholder="Select your Age" required [formControl]="userForm.get('age')" >
        <mat-option *ngFor='let _age of age' [value]="_age">{{_age}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--Gender Field-->
  <div>
    <div><label id="example-radio-group-label">Select Gender</label></div>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="2" style="margin-left: 10px;">Female</mat-radio-button>
  </mat-radio-group>
  </div>

  <!--Date Picker-->
  <div>
    <mat-form-field>
      <input matInput [formControl]="userForm.get('date')" (dateChange)="changeFun($event)" [matDatepicker]="picker" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
      <mat-error *ngIf="userForm.invalid" >{{ getErrorMessage('d') }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden #fileInput type="file" id="file">
  </div>

  <!--Submit Button-->
  <div>
    <mat-error *ngIf="loggingError" class="small" >Name or Password don't match.</mat-error>
    <button [disabled]="userForm.invalid" *ngIf="!logging" mat-raised-button color="primary" >Register</button>
    <mat-spinner *ngIf="logging" class="example-margin" diameter="40"></mat-spinner> 
  </div>
</div>


<div class="container">
  <div>Name: {{ userForm.get('name').value }}</div>
  <div>password: {{ userForm.get('password').value }}</div>
  <div>email: {{ userForm.get('email').value }}</div>
  <div>phone: {{ userForm.get('phone').value }}</div>
  <div>age: {{ userForm.get('age').value }}</div>
  <div>date: {{ userForm.get('date').value }}</div>
</div>