<!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Exampo</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Page 1-1</a></li>
            <li><a href="">Employees List</a></li>
            <li><a href="">Page 1-3</a></li>
          </ul>
        </li>
        <li *ngIf="islogged()" ><a [routerLink]="['/create']" >Create Employee</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!islogged()" ><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!islogged()" ><a href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li (click)="onLougout()" *ngIf="islogged()" ><a href=""><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>-->


<!--
  <mat-toolbar color="primary" class="topNav">
    <mat-toolbar-row>
      <span><button style="color: white;" mat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span>
          Exampo
        </span>
      </button></span>
      <span><button style="color: white;" mat-button color="primary">Students</button></span>

      <span><button style="color: white;" mat-button color="primary">Students</button></span>

      <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar-row>-->



  <mat-toolbar color="primary" style="position: fixed; z-index: 100;">
    <mat-toolbar-row>
      <span><button style="color: white;" mat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Exampo
      </button></span>
      <span><button style="color: white;" mat-button color="primary">Students</button></span>

      <span style="margin-left:auto; margin-right:0;"><button style="color: white;" mat-button color="primary">
          <mat-icon>person</mat-icon>
        Login</button></span>

        <span ><button style="color: white;" mat-button color="primary">
            <mat-icon>person_add</mat-icon>
          SignUp</button></span>
    </mat-toolbar-row>
  </mat-toolbar>

<br><br><br><br>
